  </div>

  <script>
    const setBarWidth = () => {
      document.documentElement.style.setProperty('--bar-width', `${window.innerWidth}px`);
    }
    window.addEventListener("resize", setBarWidth);
    setBarWidth();

    const bars = document.getElementById("top").children;

    const getDuration = () => (1500 + Math.random() * 3500) * window.innerWidth / 750;
    function makeBubble(bar, i) {
      const bubble = document.createElement("div");

      bubble.style.animationDuration = `${getDuration()}ms`;
      bubble.classList.add("bubble", `bubble-${i + 1}`);

      bubble.addEventListener("animationend", () => {
        bar.removeChild(bubble);
        makeBubble(bar, i);
      });

      bar.appendChild(bubble);
    }

    // Initialize bubbles
    for (let i = 0; i < bars.length; i++) {
      makeBubble(bars[i], i);
    }
  </script>
  {{> analytics}}
</body>
</html>
