  </div>

  <script>
    const bars = document.getElementById("top").children;

    const colorMap = {
      0: 3,
      1: 4,
      2: 5,
      3: 0,
      4: 1,
      5: 2,
    };
    const getDuration = () => 1000 + Math.random() * 4000;
    function makeBubble(bar, i) {
      const bubble = document.createElement("div");

      bubble.style.animationDuration = `${getDuration()}ms`;
      bubble.classList.add("bubble");
      bubble.classList.add(`top-${colorMap[i]}`);

      bubble.addEventListener("animationend", () => {
        bar.removeChild(bubble);
        makeBubble(bar, i);
      });

      bar.appendChild(bubble);
    }

    // Initialize bubbles
    for (let i = 0; i < bars.length; i++) {
      makeBubble(bars[i], i);
    }

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-23918822-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
