<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}} &laquo; {{else if tag}}{{tag}} &laquo; {{/if}}{{site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="http://dumbmatter.com/feed/" />
</head>
<body>
  <div id="wrapper">
    <div id="name">
      <a href="/">{{site.title}}</a><br>
      <p id="name-subtitle">{{site.description}}</p>
    </div>
    <div id="menu">
      <a href="/">Blog</a> (<a href="/feed/">RSS</a>) | 
      <a href="/about-me/">About Me</a></li> | 
      <a href="/projects/">Projects</a> | 
      <a href="mailto:jdscheff@gmail.com">Email Me</a>
    </div>
    <hr class="thick">
