<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}} &laquo; {{else if tag}}{{tag}} &laquo; {{/if}}{{site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="http://dumbmatter.com/feed/" />
</head>
<body>
  <div class="header-background">
    <div class="wrapper">
      <div class="header">
        <button id="theme-switch">
          <img src="/files/icons/moon-fill.svg" width="18" height="18" id="theme-switch-dark" alt="Switch to dark mode">
          <img src="/files/icons/sun-fill.svg" width="18" height="18" id="theme-switch-light" alt="Switch to light mode">
        </button>
        <script>
function getTheme() {
    try {
        var local = localStorage.getItem("theme");
        if (local === "dark" || local === "light") {
            return local;
        }
        return matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    } catch (err) {
        return "light";
    }
}
function setTheme(theme, noSave) {
    theme = theme === "light" ? "light" : "dark";
    const element = document.getElementsByTagName("html")[0];
    element.classList.add(theme);
    element.classList.remove(theme === "light" ? "dark" : "light");
    document.documentElement.style.colorScheme = theme;
    if (!noSave) {
        localStorage.setItem("theme", theme);
    }
}

setTheme(getTheme(), true);

const themeSwitch = document.getElementById("theme-switch");
const darkIcon = document.getElementById("theme-switch-dark");
const lightIcon = document.getElementById("theme-switch-light");

function updateIcon(theme) {
  if (theme === "dark") {
    darkIcon.style.display = "none";
    lightIcon.style.display = "inline";
    themeSwitch.title = "Switch to light mode";
  } else {
    darkIcon.style.display = "inline";
    lightIcon.style.display = "none";
    themeSwitch.title = "Switch to dark mode";
  }
}

updateIcon(getTheme());

themeSwitch.addEventListener("click", function (event) {
  var newTheme = getTheme() === "light" ? "dark" : "light";

  setTheme(newTheme);
  updateIcon(newTheme);
  if (window.onNewTheme) {
    window.onNewTheme(newTheme);
  }
});
        </script>
        <div class="name">
          <a href="/">{{site.title}}</a><br>
        </div>
        <div class="header-bottom">
          <div class="name-subtitle">{{site.description}}</div>
          <div class="menu">
            <a href="/">Blog</a> (<a href="/feed/">RSS</a>) | 
            <a href="/about-me/">About Me</a></li> | 
            <a href="/projects/">Projects</a> | 
            <a href="mailto:jdscheff@gmail.com">Email Me</a>
          </div>
        </div>
      </div>
    </div>
    <div id="top" class="top">
      <div class="bar top-1"></div>
      <div class="bar top-2"></div>
      <div class="bar top-3"></div>
      <div class="bar top-4"></div>
      <div class="bar top-5"></div>
    </div>
  </div>

  <div class="wrapper">
