<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="<?php bloginfo('html_type'); ?>; charset=<?php bloginfo('charset'); ?>" />
  <title>{{ title }} &laquo; dumbmatter.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT|Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">

  <link rel="pingback" href="<?php bloginfo('pingback_url'); ?>" />
  <?php wp_get_archives('type=monthly&format=link'); ?>
  <?php wp_head(); ?>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<?php if (is_single()): ?>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<?php endif; ?>
</head>
<body>
  <div id="wrapper">
    <div id="name">
      <a href="/">dumbmatter.com</a><br>
      <span id="name-subtitle">Online home of Jeremy Scheff</span>
    </div>
    <div id="menu">
      <a href="/">Blog</a> (<a href="/feed/">RSS</a>) | 
      <a href="/about-me/">About Me</a></li> | 
      <a href="/projects/">Projects</a> | 
      <a href="mailto:jdscheff@gmail.com">Email Me</a>
    </div>
    <hr class="thick">
