{{> header}}
{{#unless pagination.index}}
  {{#unless tag}}
    <h1>Welcome to my blog!</h1>
    <p>Here, you will mainly find me writing about whatever interests me at the moment. Since I am a predictably simple man, most of my posts are about <a href="/tag/sports/">sports</a>, <a href="/tag/science/">science</a>, and <a href="/tag/programming/">programming</a>, with an occasional foray into <a href="/tag/politics/">politics</a> if I'm really bored. My favorite posts include:</p>
    <ul>
      <li><a href="/2011/06/retrospective-bioinformatics-the-feasibility-overlapping-genetic-codes/">Retrospective bioinformatics: the feasibility overlapping genetic codes</a></li>
      <li><a href="/2011/08/my-previous-life-as-a-programmerentrepreneur-part-1-origins/">My previous life as a programmer/entrepreneur</a></li>
      <li><a href="/2012/04/butgers-university/">Butgers University</a></li>
      <li><a href="/2012/09/vote-and-die/">Vote and die: are you more likely to cast the deciding vote in the election, or to die on your way to your polling place?</a></li>
      <li><a href="/2013/01/did-adrian-peterson-actually-rush-for-more-yards-than-eric-dickerson-but-have-it-go-unnoticed-due-to-measurement-error/">Did Adrian Peterson actually rush for more yards than Eric Dickerson but have it go unnoticed due to measurement error?</a></li>
      <li><a href="/2019/02/dunning-kruger/">The double Dunning-Kruger effect</a></li>
    </ul>
    <p>All my other posts are listed below, in chronological order.</p>
    <hr>
  {{/unless}}
{{/unless}}
{{#each pagination.files}}
  <div class="post">
    <h1><a href="/{{path}}/">{{title}}</a></h1>
    {{> date}}
    {{> tag-list}}

    {{{teaser}}}

    {{#if hasMore}}
      <p><a href="/{{path}}/">Read more...</a></p>
    {{/if}}

    <hr>
  </div>
{{/each}}
<div style="margin-top: 1em">
  {{#if pagination.previous}}
    <div style="float: left"><a href="/{{pagination.previous.path}}{{#if pagination.previous.path}}/{{/if}}">&laquo; Newer</a></div>
  {{/if}}
  {{#if pagination.next}}
    <div style="float: right"><a href="/{{pagination.next.path}}/">Older &raquo;</a></div>
  {{/if}}
</div>
<div style="clear: both; height: 0.5em"></div>
{{> footer}}
