Redirect 301 /2013/04/the-effect-of-a-blocked-jump-shot-on-future-jump-shots-in-the-nba/ https://zengm.com/blog/2013/04/the-effect-of-a-blocked-jump-shot-on-future-jump-shots-in-the-nba/
Redirect 301 /2011/07/the-correlation-between-spending-and-winning-in-the-nba-trends-by-year-and-by-team/ https://zengm.com/blog/2011/07/the-correlation-between-spending-and-winning-in-the-nba-trends-by-year-and-by-team/
Redirect 301 /facesjs https://zengm.com/facesjs

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.dumbmatter\.com [NC]
RewriteRule ^(.*)$ http://dumbmatter.com/$1 [L,R=301]
