:root {
  --bar-width: 750px;
  --line-height: 160%;
  --wrapper-width: 750px;
}

blockquote {
  color: #444;
  border-left: 5px solid #aaa;
  margin-left: -15px;
  padding-left: 10px;
}
.dark blockquote {
  color: #bbb;
  border-color: #888;
}

ol#comments li p {
  font-size: 1rem;
}

#commentlist li {
  border-left: 5px solid #aaa;
  margin-left: -15px;
  padding-left: 10px;
  font-size: 1.125rem;
  list-style-type: none;
}
.dark #commentlist li {
  border-color: #888;
}

img {
  border: 0;
}

code {
  background: rgba(0, 0, 0, 0.05);
  color: #002b36;
}
.dark code {
  background: rgba(0, 0, 0, 0.95);
  color: #e9e5f5;
}

pre {
  background: rgba(0, 0, 0, 0.05);
  color: #002b36;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 0.875rem;
  overflow: auto;
  padding: 1em;
  margin: 1em -1em;
}
pre code {
  background: rgba(0, 0, 0, 0) !important;
}
.dark pre {
  background: rgba(0, 0, 0, 0.95);
  color: #e9e5f5;
  border-color: #fff;
}

body {
  background-color: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  margin: 0 0 0.5rem 0;
}
.dark body {
  background-color: #110830;
  color: #fff;
}

a {
  color: #4c21c8;
  text-decoration: none;
}
.dark a {
  color: #b4a0ef;
}
a:hover {
  text-decoration: underline;
}

p, ol, ul {
  line-height: var(--line-height);
  margin-top: 0;
  margin-bottom: 1rem;
}

span.publinks {
  font-size: 1rem;
}

h1, h2, h3, h4 {
  color: #d44911;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 140%;
}
.dark h1, .dark h2, .dark h3, .dark h4 {
  color: #ff9368;
}
h1 {
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 1.375rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
h1 a {
  color: #d44911;
}
.dark h1 a {
  color: #ff9368;
}

hr {
  border: 0;
  border-bottom: 1px solid #000;
  clear: both;
}
.dark hr {
  border-color: #fff;
}

.header-background {
  background-color: #4c22c8;
  color: #fff;
  padding-top: 7px;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--wrapper-width);
  padding: 0 0.5rem;
}

.top > div {
  clear: both;
  height: 0.75rem;
  display: flex;
  align-items: center;
}
.top .top-0 {
  background-color: #4c22c8;
}
.top .top-1 {
  background-color: #6c49d1;
}
.top .top-2 {
  background-color: #8b70da;
}
.top .top-3 {
  background-color: #aa97e3;
}
.top .top-4 {
  background-color: #cabeec;
}
.top .top-5 {
  background-color: #e9e5f5;
}
.bubble-1 {
  background-color: #cabeec;
}
.bubble-2 {
  background-color: #e9e5f5;
}
.bubble-3 {
  background-color: #4c22c8;
}
.bubble-4 {
  background-color: #6c49d1;
}
.bubble-5 {
  background-color: #8b70da;
}
.dark .top .top-1 {
  background-color: #441fb4;
}
.dark .top .top-2 {
  background-color: #371892;
}
.dark .top .top-3 {
  background-color: #2c1474;
}
.dark .top .top-4 {
  background-color: #220f59;
}
.dark .top .top-5 {
  background-color: #190b43;
}
.dark .bubble-1, .dark .bubble-2, .dark .bubble-3, .dark .bubble-4, .dark .bubble-5 {
  background-color: #8d72d6;
}
@keyframes move-bubble {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--bar-width));
  }
}
.bubble {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  animation-timing-function: cubic-bezier(0.5, 0.0, 1, 0.75);
  animation-name: move-bubble;
}

.header {
  position: relative;
}
.header-bottom {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 2px;
  font-size: 1.125rem;
}

.name a {
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
}

#theme-switch {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  margin: 2px 0 0 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;

  filter: invert(0.65);
}
#theme-switch:hover {
	filter: invert(0.8);
}

.menu {
  margin-left: auto;
}

.header-background a {
  color: #ff8757;
}

ul, ol {
  margin-left: -40px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.post-title {
  font-size: 1.375rem;
  margin-bottom: 0;
}

.post {
  position: relative;
}
.post-date-tag-wrapper {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: var(--line-height);
  margin-top: .25rem;
}
.post-date {
  left: -60px;
  line-height: 1.17;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 60px;
}
.post-date-month {
  font-size: 0.875rem;
}
.post-date-day {
  font-size: 1.5rem;
  margin-bottom: -4px;
  margin-top: -4px;
}
.post-date-year {
  font-size: 0.75rem;
}
.post-date-2 {
  display: none;
}

/* For legacy blog posts */
.dark img.dark-invert {
  filter: invert(100%);
}

.project-with-icon {
  text-indent: -21px;
}
.project-icon {
  margin-right: 5px;
}

/* RESPONSIVE STUFF! DESKTOP FIRST, FUCK MOBILE FIRST!! */

@media (max-width: 680px) {
  .wrapper {
    max-width: unset;
  }
  @keyframes move-bubble {
    0% {
      transform: translateX(0);
    }
    100% {
      /* This will cause scrollbar flicker if there is a vertical scroll bar, like in a desktop browser with a very narrow window. https://stackoverflow.com/a/44233700/786644 could fix it (and not require any media query change for keyframes) but performs worse. */
      transform: translateX(100vw);
    }
  }
  .top div.bar.top-2 {
    display: none;
  }
  .top div.bar.top-4 {
    display: none;
  }

  .header-bottom {
    display: block;
  }

  .name {
    text-align: center;
  }
  .name-subtitle {
    text-align: center;
  }
  .menu {
    margin-top: 5px;
    text-align: center;
  }
}

@media (max-width: 870px) {
  blockquote {
    margin-left: 5px;
    padding-left: 5px;
  }

  #commentlist li {
    margin-left: -19px;
  }

  pre {
    margin: 0 -0.5rem;
  }

  ul, ol {
    margin-left: -20px;
  }

  .post-date-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .post-date {
    display: none;
  }
  .post-date-2 {
    display: block;
    padding-right: 2rem;
    margin-right: auto;
  }

  body, #commentlist li {
    font-size: 1rem;
  }

  .project-with-icon {
    text-indent: inherit;
  }
}
