blockquote {
    border-left: 5px solid #aaa;
    margin-left: 1.5em;
    padding-left: 5px;
}

ol#comments li p {
    font-size: 100%;
}

#commentlist li ul {
    border-left: 1px solid #ddd;
    font-size: 110%;
    list-style-type: none;
}

img {
  border: 0;
}

code {
  background: rgba(0, 0, 0, 0.05);
  color: #002b36;
}

pre {
  background: rgba(0, 0, 0, 0.05);
  color: #002b36;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 85%;
  overflow: auto;
  padding: 1em;
  margin: 1em -1em;
}
pre code {
  background: rgba(0, 0, 0, 0);
}

body {
  background-color: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

a {
  color: #4c21c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p, ol, ul {
  font-size: 16px;
  line-height: 160%;
}
td, th {
  font-size: 16px;
}

span.publinks {
  font-size: smaller;
}

h1, h2, h3, h4 {
  color: #a15131;
  font-family: 'Lato', serif;
  font-weight: normal;
}
h1 {
  font-size: 120%;
}
h2 {
  font-size: 100%;
  padding-top: 0.75em;
}
h1 a {
  color: #a15131;
}

hr {
  border: 0;
  border-bottom: 1px solid #000;
  clear: both;
}

hr.thick {
  border-bottom: 2px solid #000;
}

div#wrapper {
  margin: 0.5em auto;
  max-width: 638px;
}

div#name {
  float: left;
}
div#name a {
  color: #a15131;
  font-family: 'Lato', serif;
  font-size: 22px;
  font-weight: Bold;
}
p#name-subtitle {
  line-height: 100%;
  margin: 3px 0 0 0;
}
div#menu {
  font-size: 16px;
  float: right;
  margin-top: 27px;
  margin-bottom: 7px;
  text-align: right;
  vertical-align: bottom;
}

p#footer {
  font-size: smaller;
  text-align: center;
}

ul, ol {
  margin-left: -40px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.post {
  position: relative;
}
.post-date {
  left: -60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 60px;
}
.post-date-month {
  font-size: 13px;
}
.post-date-day {
  font-size: 22px;
  margin-bottom: -4px;
  margin-top: -4px;
}
.post-date-year {
  font-size: 11px;
}
.post-tags {
  margin-bottom: 1em;
  margin-top: -0.7em;
}

.find-me-on {
  -moz-column-width: 200px;
  -moz-columns: 200px;
  -webkit-columns: 200px;
  columns: 200px;
}
.find-me-on p {
  margin-top: 0;
}


/* RESPONSIVE STUFF! DESKTOP FIRST, FUCK MOBILE FIRST!! */

@media (max-width: 767px) {
  pre {
    margin: 0 -0.5em;
  }

  div#name {
    float: inherit;
    text-align: center;
  }
  div#menu {
    float: inherit;
    margin-top: 7px;
    text-align: center;
  }

  ul, ol {
    margin-left: -20px;
  }

  .post-date {
    left: inherit;
    position: inherit;
    text-align: inherit;
    top: inherit;
    width: inherit;
  }
  .post-date-month {
    font-size: inherit;
    float: left;
  }
  .post-date-month::after {
    content: "\00a0"; /* Unicode non-breaking space */
  }
  .post-date-day {
    font-size: inherit;
    margin-bottom: inherit;
    margin-top: inherit;
    float: left;
  }
  .post-date-day::after {
    content: ",\00a0";
  }
  .post-date-year {
    font-size: inherit;
  }
  .post-tags {
    margin: 1em 0;
  }

  .find-me-on {
    -moz-column-width: inherit;
    -moz-columns: inherit;
    -webkit-columns: inherit;
    columns: inherit;
  }
  .find-me-on p {
    margin-top: inherit;
  }
}
